<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shrioDbRealm"/>
        <property name="cacheManager" ref="cacheManager"/><!--缓存-->
    </bean>

    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <bean id="shiroFilter"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--登录地址，未登录被弹回这里-->
        <property name="loginUrl" value="/"/>
        <!--登录成功后的地址-->
        <property name="successUrl" value="/home"/>
        <!--没有权限给用户提示的页面-->
        <property name="unauthorizedUrl" value="/403"/>
        <!--权限配置，从上往下判断-->
        <property name="filterChainDefinitions">
            <value>
                /static/** = anon<!--不需要进行认证，匿名认证-->
                /user = roles[管理员]
                /setting/** = roles[管理员]
                /** = authc<!--/**根及其所有子类，authc全部需要认证-->
            </value>
        </property>
    </bean>
</beans>